CLAUDE_API_KEY=your_claude_api_key_here
LONGCAT_API_KEY=your_longcat_api_key_here
DEEPSEEK_API_KEY=your_deepseek_api_key_here
NVIDIA_API_KEY=your_nvidia_api_key_here
PUBLIC_MODEL_NAME=red V1flash
RED_DEBUG=0
